@page "/"

@using Castorix.Core.Components.Layout
@using Castorix.Core.Components.Pages
@using Microsoft.AspNetCore.Components.Routing

<h1>Hello, world!</h1>

Welcome to your new app.

<a href="/another-page">Go to another page</a>
